---
layout: default
title: oxford_style | Computer Science
footer: Preprocessed by AutoDocs.preprocess 2.0.0 "clean rewrite and preprocessing" ⓒ Starwort, 2020
---

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    background-color: #ccff99;
}

h1,
h2,
h3 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    /* Nice job, I don't have Trebuchet MS */
}

h1 {
    font-size: 1.6em;
    color: #ffffcc;
    background-color: #663300;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
}

cite {
    color: #ffffcc;
    font-size: 0.83em;
    float: right;
    margin-top: -20px;
}

h2+p::first-line {
    color: #990000;
}

cite+h2+p {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 1.1em;
    margin-top: -10px;
}

cite+h2+p::first-letter {
    font-size: 3.5em;
    font-weight: bold;
    float: left;
    margin-top: -4px;
    margin-bottom: -10px;
    padding-right: 4px;
}

h2 {
    font-size: 1.4em;
    color: #cc9966;
}

h3 {
    font-size: 1.2em;
    color: #cc6633;
}

p {
    color: #663300;
}

table {
    border-collapse: collapse;
    color: #ffffcc;
    width: 100%;
}

td,
th {
    font-size: 0.8em;
    text-align: center;
}

tr {
    background-color: #993300;
}

td:nth-child(even) {
    background-color: #ff6600;
}

td:nth-child(odd) {
    background-color: #ff9900;
}

tr:nth-child(2) {
    background-color: #663300;
}

tr:first-of-type td {
    font-size: 1.4em;
    font-weight: bold;
    padding: 6px;
}

tr:last-of-type td {
    font-size: 0.8em;
    font-style: italic;
    text-align: right;
    padding: 4px;
    color: #ffffcc;
}

blockquote {
    border: 1px solid #660033;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

blockquote h2 {
    font-variant: small-caps;
    font-size: 1.1em;
    color: #ffffcc;
    background-color: #663300;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: #ff6600;
}

a:hover {
    text-decoration: underline;
}

div#container {
    width: 700px;
    margin: 20px auto;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ffffcc;
}

p#trademark {
    background-color: #663300;
    color: #ffcc66;
    font-size: 0.8em;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
}